/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f0f9f9;
}

/* Cabecera */

.estilomenu {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #8fcaca;
  color: #ffffff;
  gap: 20px;
}

#Logo,
#Titulo {
  margin: 10px 10px 10px 10px;
}

.logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

#Login {
  margin-left: auto;
}

/* Ajuste adicional para el Titulo si se desea */
#Titulo {
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Lora", Georgia, "Times New Roman", serif;
}

header {
  background-color: #8fcaca;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

/* Barra de navegación */
nav {
  background-color: #a1d6e2;
  color: #a1d6e2;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0px 5px 10px 20%;
}

.nav {
  display: flex;
  gap: 80px;
  --bs-nav-link-color: var(--bs-white);
  --bs-nav-pills-link-active-color: var(--bs-primary);
  --bs-nav-pills-link-active-bg: var(--bs-white);
}

.nav-item button {
  padding: 8px 8px;
  font-size: 14px;
  background-color: #8fcaca;
  border-radius: 10%;
  border-color: #f2f7f7;
  font-weight: bold;
}

/* Contenedor principal */

.container {
  display: flex;
  flex: 1;
  padding: auto;
}

/* Contenedor para el título y el formulario */
.form-container {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 20px;
  background-color: #a1d6e2;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Estilo del título */
.titulopqrs {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: bold;
}

/* Estilos del formulario */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

/* Estilos de los campos del formulario */
form label {
  font-size: 16px;
  margin-top: 10px;
  text-align: left;
  width: 100%;
}

form input[type="text"],
form input[type="email"],
form select,
form textarea {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Estilo para el botón */
form button[type="submit"] {
  padding: 8px 15px;
  font-size: 14px;
  color: white;
  background-color: #45a049;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 15px;
}

form button[type="submit"]:hover {
  background-color: #63b668;
}

/*Estilos del modal*/
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.modal-content button {
  margin-top: 15px;
  padding: 6px 14px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #45a049;
}

/* Pie de página */
footer {
  background-color: #302f2f;
  color: white;
  text-align: center;
  padding: 10px;
  font-family: Arial, sans-serif;
}

footer a {
  text-decoration: none;
}

footer button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

footer img {
  width: 30px;
}

footer p {
  font-size: 12px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social-icons a {
  text-decoration: none;
  color: #fff;
  background-color: #333;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: background-color 0.3s;
}
.social-icons a:hover {
  background-color: #555;
}

input,
select,
textarea {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  margin-top: 20px;
  padding: 10px;
  background-color: #4caf50;
  color: rgb(7, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #45a049;
}
