/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f0f9f9;
}

/* Cabecera */

.estilomenu {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #8fcaca;
  color: #ffffff;
  gap: 20px;
}

#Logo,
#Titulo {
  margin: 10px 10px 10px 10px;
}

.logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

#Login {
  margin-left: auto;
}

/* Ajuste adicional para el Titulo si se desea */
#Titulo {
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Lora", Georgia, "Times New Roman", serif;
}

header {
  background-color: #8fcaca;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

/* Barra de navegación */
nav {
  background-color: #a1d6e2;
  color: #a1d6e2;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0px 5px 10px 20%;
}

.nav {
  display: flex;
  gap: 80px;
  --bs-nav-link-color: var(--bs-white);
  --bs-nav-pills-link-active-color: var(--bs-primary);
  --bs-nav-pills-link-active-bg: var(--bs-white);
}

.nav-item button {
  padding: 8px 8px;
  font-size: 14px;
  background-color: #8fcaca;
  border-radius: 10%;
  border-color: #f2f7f7;
  font-weight: bold;
}

/* Contenedor principal */
.container {
  display: flex;
  flex: 1;
  padding: auto;
}

/* Contenido principal */

.contentp {
  background-color: #e2f0d9;
  padding: 5%;
  text-align: auto;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
}

.slider-container {
  width: 600px;
  height: 400px;
  overflow: hidden;
  position: relative;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.slider {
  display: flex;
  width: calc(600px * 6);
  animation: slide 18s infinite;
}

.slide {
  position: relative;
  width: 600px;
  height: 400px;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.caption {
  font-family: Georgia, "Times New Roman", Times, serif;
  position: absolute;
  bottom: 20px;
  left: 150px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 2.5rem;
}

/*Estilos para animacion*/
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  16.66% {
    transform: translateX(-600px);
  }
  33.33% {
    transform: translateX(-1200px);
  }
  50% {
    transform: translateX(-1800px);
  }
  66.66% {
    transform: translateX(-2400px);
  }
  83.33% {
    transform: translateX(-3000px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Botones dentro del contenido principal */
.button {
  padding: 12px 24px;
  color: #ffffff;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #45a049;
}

/* Pie de página */
footer {
  background-color: #302f2f;
  color: white;
  text-align: center;
  padding: 10px;
  font-family: Arial, sans-serif;
}

footer a {
  text-decoration: none;
}

footer button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

footer img {
  width: 30px;
}

footer p {
  font-size: 12px;
}
.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social-icons a {
  text-decoration: none;
  color: #fff;
  background-color: #333;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: background-color 0.3s;
}
.social-icons a:hover {
  background-color: #555;
}

input,
select,
textarea {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  margin-top: 20px;
  padding: 10px;
  background-color: #4caf50;
  color: rgb(7, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #45a049;
}
