/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f0f9f9;
}

/* Cabecera */

.estilomenu {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #6b6a6a;
  color: #ffffff;
  gap: 20px;
  background: linear-gradient(135deg, #9b9a9a, #414040);
}

#Logo,
#Titulo {
  margin: 10px 10px 10px 10px;
}

.logo {
  width: 200px;
  height: 200px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  border-radius: 20%;
}

#Login {
  margin-left: auto;
}

/* Primero declaras la fuente */
@font-face {
  font-family: 'mifuente'; /* Nombre que tú le das */
  src: url('./fonts/Animal\ Insting.ttf') format('truetype'); /* Ruta relativa */
  font-weight: normal;
  font-style: normal;
}

/* Luego aplicas la fuente al ID Titulo */
#Titulo {
  font-family: 'mifuente', sans-serif;
  font-size: 6rem;
  color:#e98162;   /* Beige/Marfil */
  letter-spacing: 2px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}

header {

  padding: 20px;
  text-align: center;
  header {
  background: linear-gradient(90deg, #3E3E3E, #2C2C2C);
}

}

/* Barra de navegación */

nav {
  background-color: #cac8c8 ;
  color: #acafaf;
  }

nav {
  display: flex;
  justify-content: space-between;
  padding: 0px 5px 10px 20%;
}

.nav {
  display: flex;
  gap: 80px;
  --bs-nav-link-color: var(--bs-white);
  --bs-nav-pills-link-active-color: var(--bs-primary);
  --bs-nav-pills-link-active-bg: var(--bs-white);
}

.nav-item button {
  font-size: 20px;
  background-color: #F5E9DA;
  color: #333;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  font-weight: bold;
  transition: all 0.3s ease;
}
.nav-item button:hover {
  background-color: #E97451;
  color: white;
}


/* Fondo general */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(90deg, #ffffff, #f8edd7);
  color: #2a2a2a;
}



/* Contenido principal */
.contentp {
  position: relative; /* Necesario para el pseudo-elemento */
  background: url("./imagenes/Portada.png") center/cover no-repeat;
  padding: 5%;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* Fondo con opacidad independiente */
.contentp::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(226, 240, 217, 0.4); /* tu color con transparencia */
  z-index: -1; /* se queda detrás del contenido */
}


.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  
}

.slider-container {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.slide {
  position: relative;
  width: 100%;

}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider {
  display: flex;
  width: calc(600px * 6);
  animation: slide 30s infinite;
}

.caption {
  font-family: Georgia, "Times New Roman", Times, serif;
  position: absolute;
  bottom: 20px;
  left: 150px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 2.5rem;
}

/*Estilos para animacion*/
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  16.66% {
    transform: translateX(-600px);
  }
  33.33% {
    transform: translateX(-1200px);
  }
  50% {
    transform: translateX(-1800px);
  }
  66.66% {
    transform: translateX(-2400px);
  }
  83.33% {
    transform: translateX(-3000px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Botones dentro del contenido principal */
.button {
  padding: 12px 24px;
  color: #ffffff;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #45a049;
}

/* Pie de página */
footer {
  background-color: #302f2f;
  color: white;
  text-align: center;
  padding: 10px;
  font-family: Arial, sans-serif;
}

footer a {
  text-decoration: none;
}

footer button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

footer img {
  width: 30px;
}

footer p {
  font-size: 12px;
}
.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social-icons a {
  text-decoration: none;
  color: #fff;
  background-color: #333;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: background-color 0.3s;
}
.social-icons a:hover {
  background-color: #555;
}

input,
select,
textarea {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  margin-top: 20px;
  padding: 10px;
  background-color: #4caf50;
  color: rgb(7, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #45a049;
}
