/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lora", Georgia, "Times New Roman", serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f0f9f9;
}

/* Cabecera */

.estilomenu {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #8fcaca;
  color: #ffffff;
  gap: 20px;
}

#Logo,
#Titulo {
  margin: 10px 10px 10px 10px;
}

.logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

#Login {
  margin-left: auto;
}

#Titulo {
  font-size: 1.5em;
  font-weight: bold;
}

header {
  background-color: #8fcaca;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

/* Barra de navegación */

nav {
  background-color: #a1d6e2;
  color: #a1d6e2;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0px 5px 10px 20%;
}

.nav {
  display: flex;
  gap: 80px;
  --bs-nav-link-color: var(--bs-white);
  --bs-nav-pills-link-active-color: var(--bs-primary);
  --bs-nav-pills-link-active-bg: var(--bs-white);
}

.nav-item button {
  padding: 8px 8px;
  font-size: 14px;
  background-color: #8fcaca;
  border-radius: 10%;
  border-color: #f2f7f7;
  font-weight: bold;
}

/* Contenedor principal */
.container {
  display: flex;
  flex: 1;
  padding: auto;
}

/* Barra lateral */

.titulo-dona {
  font-size: 30px;
  color: #2a2a2a;
  text-align: center;
  margin: 40px 40px 40px 40px;
  font-weight: bold;
  font-family: "Lora", Georgia, "Times New Roman", serif;
  padding-bottom: 5px;
}

.sidebar img {
  width: 100%;
  max-width: 140px;
  height: auto;
  display: block;
  margin: 10px auto;
  border-radius: 8px;
}

/* Contenido principal */
.content {
  padding: 20px;
  background-color: #fffdf6;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 800px;
  margin: 30px auto;
}

.content p {
  font-size: 14px;
  line-height: 1.6;
  color: #444;
  font-weight: 600;
  margin-bottom: 15px;
  font-family: "Lora", Georgia, "Times New Roman", serif;
}

.content img {
  width: 100%;
  max-width: 700px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

/* Pie de página */
footer {
  background-color: #302f2f;
  color: white;
  text-align: center;
  padding: 10px;
  font-family: Arial, sans-serif;
}

footer a {
  text-decoration: none;
}

footer button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

footer img {
  width: 30px;
}

footer p {
  font-size: 12px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social-icons a {
  text-decoration: none;
  color: #fff;
  background-color: #333;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: background-color 0.3s;
}
.social-icons a:hover {
  background-color: #555;
}

input,
select,
textarea {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  margin-top: 20px;
  padding: 10px;
  background-color: #4caf50;
  color: rgb(7, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #45a049;
}
