/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F0F9F9; /* Fondo pastel suave para un ambiente acogedor */
}

/* Cabecera */

.estilomenu {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
    padding: 10px 20px;
    background-color: #8FCACA; /* Color de fondo pastel */
    color: #FFFFFF; /* Color de texto blanco */
    gap: 20px; /* Espacio entre Logo y Titulo */
}

#Logo, #Titulo {
    margin: 10px 10px 10px 10px;
}

#Login {
    margin-left: auto; /* Empuja el elemento hacia la derecha */
}

/* Ajuste adicional para el Titulo si se desea */
#Titulo {
    font-size: 1.5em;
    font-weight: bold;
}

header {
    background-color: #8FCACA; /* Verde menta pastel, amigable y calmante */
    color: #FFFFFF; /* Blanco para contraste */
    padding: 20px;
    text-align: center;
}

/* Barra de navegación */

nav {
    background-color: #A1D6E2; /* Azul claro pastel, relajante */
    color: #A1D6E2; /* Blanco */
}

nav {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos en horizontal */
    padding: 0px 5px 10px 20%;
}

.nav {
    display: flex;
    gap: 80px; /* Espacio entre los elementos de la lista */   
}

.nav-item button {
    padding: 8px 8px;
    font-size: 14px;
    background-color: #8FCACA;
    border-radius: 10%;
    border-color: #f2f7f7;
    font-weight: bold;
}

/* Contenedor principal */
.container {
    display: flex;
    flex: 1;
    padding: auto;
   }

/* Barra lateral */

.sidebar {
    width: 35%; /* Ajusta el ancho según necesites */
    margin: 0 auto; /* Centra el contenedor */
    text-align: center; /* Centra el contenido de texto */
    padding: 20px; /* Añade espacio interno */
    background-color: #f5f5f5; /* Color de fondo opcional */
}

/* Contenido principal */
.content {
    background-color: #E2F0D9; /* Verde muy claro pastel, representando naturaleza y frescura */
    padding: 100px 100px 100px 100px;
    text-align: center; /* Centra el contenido de texto */
}

.content {
    display: flex;
    flex-direction: column;
}

/* Pie de página */
footer {
    background-color: #302f2f;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: Arial, sans-serif;
}

footer a {
    text-decoration: none;
}

footer button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

footer img {
    width: 30px;
}

footer p {
    font-size: 12px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.social-icons a {
    text-decoration: none;
    color: #fff;
    background-color: #333;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    transition: background-color 0.3s;
}
.social-icons a:hover {
    background-color: #555;
}

input, select, textarea { margin-top: 5px; padding: 10px; border: 1px solid #ccc; border-radius: 5px; } 
button { margin-top: 20px; padding: 10px; background-color: #4CAF50; color: rgb(7, 0, 0); border: none; border-radius: 5px; cursor: pointer; } 
button:hover { background-color: #45a049; }